[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "thirdparty/Stockfish"]
	path = thirdparty/Stockfish
	url = git@github.com:nodchip/Stockfish.git
[submodule "thirdparty/lichess-bot"]
	path = thirdparty/lichess-bot
	url = git@github.com:hi-ogawa/lichess-bot.git
